version: '3.9'

services:
  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: gravito-flux-rabbitmq
    restart: unless-stopped
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS:-guest}
    ports:
      - '5672:5672'
      - '15672:15672'
    healthcheck:
      test: ['CMD', 'rabbitmqctl', 'status']
      interval: 10s
      retries: 6

  flux-enterprise:
    build:
      context: .
      dockerfile: examples/flux-enterprise/Dockerfile
    container_name: gravito-flux-enterprise
    restart: unless-stopped
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      RABBITMQ_USER: ${RABBITMQ_USER:-guest}
      RABBITMQ_PASS: ${RABBITMQ_PASS:-guest}
    volumes:
      - .:/usr/src/app:cached
